.paragrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.classeLivro {
  margin: 15px;
  padding: 50px;
  background-color: blanchedalmond;
}

.submitBtn {
  margin: 15px;
  float: right;
}
body {
  font-family: sans-serif;
}
.livroPanel {
  background-color: darkturquoise;
  padding: 50px;
}
